*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
body{
    transition: 0.2s ease-in-out;
}
nav{
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;

}
nav h1{
    margin-left: 100px;

}
nav ul{
    display: flex;
    list-style: none;
    font-size: 20px;

}
nav ul li{
    padding: 20px;
}
label{
    margin-right: 10px;
    display: block;
}
#click{
    
    display: block;
}
@media  screen and(max-width: 768px){
     nav label{
        display: block;
    }
    nav ul{
        flex-direction: column;
        top: 90px;
        background-color: rgb(81, 74, 74);
        color: beige;
        display: none;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 60px;

    }
    #click:checked ~ nav ul{
        display: none;
    }
    .grid {
        grid-template-columns: auto auto;
    }
}
    
@media screen and (max-width:500px) {
    .grid {
        grid-template-columns: auto;
    
    }
}
    

